<!-- EJS HEADER -->
<%-include(`partials/header`) -%>

<div class="container-fluid">
  <h1>Compose</h1>
  <form action="/compose" method="post">
    <div class="form-group">
      <div class="mb-3">
        <label for="titleTag" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="titleTag"
          name="postTitle"
          autocomplete="off"
        />
      </div>
      <div class="mb-3">
        <label for="postBody" class="form-label">Post</label>
        <textarea
          class="form-control"
          id="postBody"
          rows="6"
          name="postBody"
          autocomplete="off"
        ></textarea>
      </div>
      <button class="btn btn-primary btn-lg" type="submit">Publish</button>
    </div>
  </form>
</div>

<!-- EJS FOOTER -->
<%-include(`partials/footer`) -%>
